<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">

    <title>Login</title>
    <link rel="icon" href="http://www.chartjs.org/samples/latest/favicon.ico">
    <!-- Custom styles for floating template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet">
    <link rel="https://getbootstrap.com/docs/4.1/examples/starter-template/starter-template.css" href="stylesheet">
  </head>
  <body class = "text-center">

        <form name="Create" class="form-signin" action="/" method="POST">
          <div class="container" id="create">
            <div class="form-inline">
                <label class="control-label col-lg-2" for="username">UserName </label>
                <div class="col-lg-6">
                    <input type="text" name="userName" id="username" class="form-control" value="<%=firstNameVal%>" placeholder="Enter Username" required>
                </div>
            </div>
            <br>
            <div class="form-inline">
                <label class="control-label col-lg-2" for="lastName">Password </label>
                <div class="col-sm-6">
                    <input type="password" name="lastName" id="lastName" class="form-control" value="<%=lastNameVal%>" placeholder="Enter Password" required>
                </div>
            </div>

            <br>
            <div class="">

            </div>
            <button type="submit" class="btn btn-sm btn-primary ">Login</button>
          
            </div>
        </form>


    </div>


    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
